<!DOCTYPE html>
<html lang="{% block lang %}{{ site.language|escape }}{% endblock %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/inter/font.css" />
    <link rel="stylesheet" href="/assets/css/merriweather/font.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="icon" href="/assets/logo.svg" type="image/svg+xml" />
    {% block head %}
    {% endblock %}
    <title>{% block title %}{{ site.title|escape }}{% endblock %}</title>
    <script src="/assets/js/htmx.min.js" defer></script>
</head>

<body>
    {% block content %}
    <p>Placeholder content</p>
    {% endblock %}
</body>

</html>